name: "Qt 6.10.2 - macOS - Universal - 10.15"

on:
  workflow_dispatch:

jobs:
  build_qt:
    runs-on: macos-latest
    env:
      MACOSX_DEPLOYMENT_TARGET: "10.15.4"
    steps:
      - uses: actions/checkout@v6
      - name: Setup ccache
        run: |
          brew install ccache
          echo "CCACHE_BASEDIR=$PWD/sources" >> $GITHUB_ENV
          echo "CCACHE_COMPRESSION=true" >> $GITHUB_ENV
          echo "CCACHE_MAXSIZE=2G" >> $GITHUB_ENV
          echo "CCACHE_SLOPPINESS=pch_defines,time_macros,include_file_ctime,include_file_mtime" >> $GITHUB_ENV
      - name: Restore ccache
        uses: actions/cache/restore@v5
        with:
          key: ${{runner.os}}-${{runner.arch}}-ccache-
          restore-keys: ${{runner.os}}-${{runner.arch}}-ccache
          path: ~/Library/Caches/ccache
      - name: Show ccache stats
        run: |
          ccache -sv
      - name: Download and unpack source
        run: |
          set -o pipefail
          QT_URL="https://download.qt.io/archive/qt/6.10/6.10.2/single/qt-everywhere-src-6.10.2.tar.xz"
          wget -q "${QT_URL}" -O - | tar xJvf -
          mv qt-everywhere-src-6.10.2 sources
      - name: Patch
        run: |
          patch -d sources < patches/qt6.10.2_macos_10_15.diff
      - name: Configure
        run: |
          mkdir build
          cd build
          ../sources/configure \
            -prefix ../install \
            -release \
            -ccache \
            -nomake examples \
            -nomake tests \
            -submodules qt5compat,qtbase,qtdeclarative,qtgraphs,qtimageformats,qtmultimedia,qtnetworkauth,qtscxml,qtshadertools,qtsvg,qttools,qttranslations,qtwebsockets \
            -- \
            -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64" \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=$MACOSX_DEPLOYMENT_TARGET
      - name: Build
        working-directory: ./build
        env:
          NINJA_STATUS: "[%f/%t (%c/s avg %o/s); ETA: %W (%P)]   "
        run: |
          cmake --build . --parallel
      - name: Install
        working-directory: ./build
        run: |
          cmake --install .
      - name: Package
        working-directory: ./install
        run: |
          7z a "../Qt-6.10.2-macOS-10.15.7z" ./*
      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: "Qt-6.10.2-macOS-10.15"
          path: "Qt-6.10.2-macOS-10.15.7z"
      - name: Show ccache stats and prepare for saving
        if: always()
        run: |
          ccache -sv
          ccache --recompress 10
          echo "CCACHE_TIMESTAMP=$(date -u +"%F-%T")" | tee -a $GITHUB_ENV
      - name: Save ccache
        if: always()
        uses: actions/cache/save@v5
        with:
          key: ${{ runner.os }}-${{ runner.arch }}-ccache-${{ env.CCACHE_TIMESTAMP }}
          path: ~/Library/Caches/ccache
